**/predictions
**/Fairness/All_Emb/Prediction_results
**/Fairness/All_Images/dataframes
**/Fairness/All_Images/Prediction_results
**/Fairness/CheXpert_Emb/DataSet
**/Fairness/CheXpert_Emb/Prediction_results
**/Fairness/MIMIC_CXR_EMB/Prediction_results
**/Fairness/MIMIC_CXR_EMB/Extracted_Embeddings


